table{
    width: 800px;
    border-collapse: collapse;
    border-top: 0;
    font-size: 16px;
    text-align:center;
    font-family: Arial;
}
caption{
    font-weight: bold;
}
tr,td{
    border: 2px solid;
    padding: 15px 10px;
    border-top: 0;
    color: black;
    vertical-align: text-top;
}
th{
    border: 2px solid #337ab7;
    border-top: 0;
    padding: 15px 10px;
    color: #505050;
    vertical-align:middle;
}
tbody{
    background-color: #cecece; /* wiem miało być #505050 ale ten bardziej wygląda jak ze zdj*/
    border-top: 0;
}
tbody tr td:first-child{
    text-align: left;
}
tfoot tr td{
    background-color: #337ab7;
    border: 2px solid #505050;
    border-top: 0;
    color: white;
    font-weight: bold;
}